# зависимости
node_modules

# сборка фронтенда
dist

# Go
backend/tmp

# служебное
.DS_Store
*.log
.env.local
node_modules/
.next/
dist/
build/
frontend/node_modules/
frontend/.env
frontend/.env.example
go.work
go.work.sum
